@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jgwagy');
  src:  url('fonts/icomoon.eot?jgwagy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jgwagy') format('truetype'),
    url('fonts/icomoon.woff?jgwagy') format('woff'),
    url('fonts/icomoon.svg?jgwagy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
